* {
  font-family: "Montserrat", sans-serif;
}

/* .landing {
  background-image: url("../images/pexels-aaditya-arora-592753\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
} */
.paragraph{
  font-weight: 700;
  color: white;
  
}
.ab h1{
  color: white;
  border-bottom: 5px solid #ff8c00;
  margin-bottom: 0px;
  width: 200px;
  margin-right: auto;

}
.landing{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.landing::after{

      content: "";
      background: url(../images/TONY.jpg);
      /* opacity: 0.5; */
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-repeat: no-repeat;
      filter: brightness(0.2);
}
#portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
  margin-left: 8px;
  
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid {
  /* padding-top: 20px; */
  /* padding-bottom: 30px; */
}

.contacts {
  background-color: #ff8c00;
  padding-top: 20px;
  padding-bottom: 30px;
}
button {
  background-color: #ff8c00;
}

@media only screen and (max-width: 485px) {
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .section {
    padding-top: 30px;
  }
}
