/* .landing{
    background-image: url(/images/pexels-magda-ehlers-2660262.jpg);
    overflow-x: hidden;
    height: 90%;
    scroll-behavior: smooth;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    /* background-attachment: fixed
    background-color: white;
    font-family: 'Montserrat', sans-serif; */
    *{
        font-family: 'Montserrat', sans-serif;
    }



.landing{
    background-image: url(/images/pexels-aaditya-arora-592753\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: opacity(0.8); */
    background-image: overlay 0.9;
    
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
    margin-left: 8px;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
/* #overlay1{
font-style: italic;
} */
 /* #overlay1,#overlay2,#overlay3, #overlay4,#overlay5,#overlay6{
    top: -20%;
    right: 40%;
    color: black;
    position: absolute;
    font-size: 30px;
    padding-top: 50%;
} */
 .container-fluid{
    padding-top: 20px;
    padding-bottom: 30px;

 }
 /* .mission{
     display: flex;
 } */
 .contacts{
     background-color: #FFA500;
     padding-top: 20px;
     padding-bottom: 30px;
    
 }
 button{
     background-color: #FFA500;
 }
 /* #overlay1,#overlay2,#overlay3, #overlay4,#overlay5,#overlay6{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    /* display: none; */
    /* color: black;
    font-size: 20px; */
  /* #form47{
      padding-bottom: 30px;
      margin-bottom: 20p;
      margin: 0vh;
  }   */
@media only screen and (max-width: 485px){
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px){
  .section {
    padding-top: 30px;
 }
}